<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler')?.click()">
    <nav class="flex-column pt-3">

        <AuthorizeView>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>

        <AuthorizeView Roles="Administrador">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="reportes">
                    <span class="bi bi-file-earmark-bar-graph-fill" aria-hidden="true"></span> Reportes
                </NavLink>
            </div>
        </AuthorizeView>

    </nav>
</div>