@page "/"
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <p>Redirigiendo a su portal...</p>
    </Authorized>
    <NotAuthorized>
        <h1>¡Bienvenido a Academia Web!</h1>
        <p>Por favor, <a href="login">inicie sesión</a> para acceder a su portal.</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            if (user.IsInRole("Alumno"))
            {
                NavigationManager.NavigateTo("/portal-alumno");
            }
            else if (user.IsInRole("Docente"))
            {
                NavigationManager.NavigateTo("/portal-docente");
            }
        }
    }
}